body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.clicked {
  font-weight: bold;
  color: #1677ff;
}

.unclicked {
  font-weight: 400;
  color: black;
}

#card {
  background-color: white;
}

#cardActive {
  background-color: #f1f1f1;
  border-radius: 5px;
}

.ant-tag {
  max-width: 150px;
  overflow-x: auto;
}

.ant-radio-button-wrapper {
  width: 60px;
}

@font-face {
  font-family: "NanumSquareNeo";
  src: url(./assets/fonts/NanumSquareNeo/NanumSquareNeo-Variable.ttf)
}

.chatbotIconSettings .ant-radio-button-wrapper {
  border-radius: 0px;
}